In [109]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
from mlchartist.preprocessing import to_date, proper_col

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [110]:
df = pd.read_csv('../raw_data/data/daily/us/nasdaq stocks/1/aapl.us.txt')

In [116]:
df.columns = [proper_name(col) for col in df.columns]

In [121]:
df['date'] = to_date(df, 'date')

In [125]:
df['ticker'] = df.ticker.str.strip('.US')

In [128]:
df.drop(columns=['per', 'time', 'openint'], inplace=True)

In [129]:
from ta import add_all_ta_features
from ta.momentum import RSIIndicator, StochasticOscillator
from ta.volume import AccDistIndexIndicator, OnBalanceVolumeIndicator
from ta.volatility import AverageTrueRange
from ta.trend import ADXIndicator, MACD

In [130]:
CLOSE = "close"
OPEN = "open"
HIGH = "high"
LOW = "low"
VOLUME = "vol"

In [131]:
df['RSI'] = RSIIndicator(close=df[CLOSE]).rsi()
df['Stochastic'] = StochasticOscillator(high=df[HIGH], low=df[LOW], close=df[CLOSE]).stoch()
df['Stochastic_signal'] = StochasticOscillator(high=df[HIGH], low=df[LOW], close=df[CLOSE]).stoch_signal()
df['ADI'] = AccDistIndexIndicator(high=df[HIGH], low=df[LOW], close=df[CLOSE], volume=df[VOLUME]).acc_dist_index()
df['OBV'] = OnBalanceVolumeIndicator(close=df[CLOSE], volume=df[VOLUME]).on_balance_volume()
df['ATR'] = AverageTrueRange(high=df[HIGH], low=df[LOW], close=df[CLOSE]).average_true_range()
df['ADX'] = ADXIndicator(high=df[HIGH], low=df[LOW], close=df[CLOSE]).adx()
df['ADX_pos'] = ADXIndicator(high=df[HIGH], low=df[LOW], close=df[CLOSE]).adx_pos()
df['ADX_neg'] = ADXIndicator(high=df[HIGH], low=df[LOW], close=df[CLOSE]).adx_neg()
df['MACD'] = MACD(close=df[CLOSE]).macd()
df['MACD_diff'] = MACD(close=df[CLOSE]).macd_diff()
df['MACD_signal'] = MACD(close=df[CLOSE]).macd_signal()

/Users/Kensei/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ta/trend.py:768: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i] / self._trs[i])
/Users/Kensei/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ta/trend.py:772: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i] / self._trs[i])

In [134]:
df.head()

,ticker,date,open,high,low,close,vol,RSI,Stochastic,Stochastic_signal,ADI,OBV,ATR,ADX,ADX_pos,ADX_neg,MACD,MACD_diff,MACD_signal
0,AAPL,1984-09-07,0.10197,0.10321,0.10075,0.10197,96517416,NaN,NaN,NaN,-7.846944e+05,96517416,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,AAPL,1984-09-10,0.10197,0.10228,0.09952,0.10137,74913260,NaN,NaN,NaN,2.472924e+07,21604156,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,AAPL,1984-09-11,0.10228,0.10506,0.10228,0.10321,176649912,NaN,NaN,NaN,-3.373044e+07,198254068,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,AAPL,1984-09-12,0.10321,0.10382,0.10013,0.10013,154318764,NaN,NaN,NaN,-1.880492e+08,43935304,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,AAPL,1984-09-13,0.10568,0.10598,0.10568,0.10568,240345769,NaN,NaN,NaN,-4.283950e+08,284281073,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [132]:
df_test = df.dropna().head(100).reset_index()

In [133]:
df_len = len(df_test)

for i in df_test.index:
    if i <= (len(df_test) - 30):
        print(df_test.ADI.iloc[i: i+30])

ValueError: Length mismatch: Expected axis has 100 elements, new values have 4 elements