In [1]:
import pandas as pd
import numpy as np

In [72]:
input_df = pd.read_csv('../../code/project/processed_files/AAPL.csv')
input_df.head()

,ticker,date,RSI,Stochastic,Stochastic_signal,ADI,OBV,ATR,ADX,ADX_pos,ADX_neg,MACD,MACD_diff,MACD_signal,5TD_return,10TD_return,20TD_return
0,AAPL,1984-10-24,57.978007,76.690103,69.424914,-5.139242e+09,387549732,0.003297,19.036526,35.250645,23.135370,-0.000432,0.001254,-0.001687,-0.052010,-0.018263,-0.119206
1,AAPL,1984-10-25,49.247645,56.625203,68.325221,-5.322591e+09,204200382,0.003326,18.051296,32.458308,29.224107,-0.000390,0.001037,-0.001427,-0.009378,-0.022156,-0.060181
2,AAPL,1984-10-26,44.483899,43.374797,58.896701,-5.425815e+09,71070262,0.003286,17.088681,30.521333,33.447714,-0.000548,0.000704,-0.001251,0.009726,-0.055397,-0.026218
3,AAPL,1984-10-29,45.183124,44.997296,48.332432,-5.484525e+09,129780480,0.003117,16.194824,29.881216,32.746222,-0.000641,0.000488,-0.001129,0.000000,-0.025925,-0.003162
4,AAPL,1984-10-30,48.093222,51.703624,46.691906,-5.570994e+09,216248865,0.003048,15.133939,31.950924,31.104445,-0.000608,0.000417,-0.001025,0.048060,-0.060959,0.035265

In [73]:
len(input_df)

9115

## Split into Train/Test
Make in generic (i.e. able to change the test size)

In [74]:
def train_test_split(df, test_set_size):
    """
    Split the preprocessed stock data file into a train and test dataset
    INPUT: the dataframe to be split, and size of the test set in months or years ('3M' or '2Y')
    OUTPUT: returns a train_set and test_set dataframe, index is set to the date
    
    EXAMPLE: train_set, test_set = train_test_split(input_df, '3Y')
    """
    if not np.issubdtype(df['date'].dtype, np.datetime64):
        df['date'] = pd.to_datetime(df['date'], format=('%Y-%m-%d'))
    test_set = df.sort_values(by="date",ascending=True).set_index("date").last(test_set_size)
    train_set = df.drop(input_df.tail(len(test_set)).index).set_index("date")
    test_set.reset_index(inplace=True)
    train_set.reset_index(inplace=True)
    return train_set, test_set

In [75]:
train_set, test_set = train_test_split(input_df, '3Y')

print('len input_df: ', len(input_df))
print('len test_set: ', len(test_set))
print('len train_set: ', len(train_set))
print('len train_set + test_set: ', len(train_set) + len(test_set))

len input_df:  9115
len test_set:  751
len train_set:  8364
len train_set + test_set:  9115

## Binary Threshold for Returns
Able to input any threshold value

In [77]:
def returns_classification(return_column, returns_threshold):
    """
    Classify the returns versus a defined threshold, and returning either a 1 or 0
    INPUT: the dataframes column, and return threshold
    OUTPUT: returns a column with 1/0 binary classification 
    
    EXAMPLE: train_set['5TD_return_B'] = returns_classification(train_set['5TD_return'], 0.0006)
    """
    return (return_column > returns_threshold).astype(np.int)

train_set['5TD_return_B'] = returns_classification(train_set['5TD_return'], 0.0006)
train_set['10TD_return_B'] = returns_classification(train_set['10TD_return'], 0.0012)
train_set['20TD_return_B'] = returns_classification(train_set['20TD_return'], 0.0024)
train_set.head()

,date,ticker,RSI,Stochastic,Stochastic_signal,ADI,OBV,ATR,ADX,ADX_pos,ADX_neg,MACD,MACD_diff,MACD_signal,5TD_return,10TD_return,20TD_return,5TD_return_B,10TD_return_B,20TD_return_B
0,1984-10-24,AAPL,57.978007,76.690103,69.424914,-5.139242e+09,387549732,0.003297,19.036526,35.250645,23.135370,-0.000432,0.001254,-0.001687,-0.052010,-0.018263,-0.119206,0,0,0
1,1984-10-25,AAPL,49.247645,56.625203,68.325221,-5.322591e+09,204200382,0.003326,18.051296,32.458308,29.224107,-0.000390,0.001037,-0.001427,-0.009378,-0.022156,-0.060181,0,0,0
2,1984-10-26,AAPL,44.483899,43.374797,58.896701,-5.425815e+09,71070262,0.003286,17.088681,30.521333,33.447714,-0.000548,0.000704,-0.001251,0.009726,-0.055397,-0.026218,1,0,0
3,1984-10-29,AAPL,45.183124,44.997296,48.332432,-5.484525e+09,129780480,0.003117,16.194824,29.881216,32.746222,-0.000641,0.000488,-0.001129,0.000000,-0.025925,-0.003162,0,0,0
4,1984-10-30,AAPL,48.093222,51.703624,46.691906,-5.570994e+09,216248865,0.003048,15.133939,31.950924,31.104445,-0.000608,0.000417,-0.001025,0.048060,-0.060959,0.035265,1,0,1

## Scale Train Dataset

## Turn Windows Into Arrays
Able to set:

- window size
- stride size

Start from the newest values

In [78]:
train_set.head()

,date,ticker,RSI,Stochastic,Stochastic_signal,ADI,OBV,ATR,ADX,ADX_pos,ADX_neg,MACD,MACD_diff,MACD_signal,5TD_return,10TD_return,20TD_return,5TD_return_B,10TD_return_B,20TD_return_B
0,1984-10-24,AAPL,57.978007,76.690103,69.424914,-5.139242e+09,387549732,0.003297,19.036526,35.250645,23.135370,-0.000432,0.001254,-0.001687,-0.052010,-0.018263,-0.119206,0,0,0
1,1984-10-25,AAPL,49.247645,56.625203,68.325221,-5.322591e+09,204200382,0.003326,18.051296,32.458308,29.224107,-0.000390,0.001037,-0.001427,-0.009378,-0.022156,-0.060181,0,0,0
2,1984-10-26,AAPL,44.483899,43.374797,58.896701,-5.425815e+09,71070262,0.003286,17.088681,30.521333,33.447714,-0.000548,0.000704,-0.001251,0.009726,-0.055397,-0.026218,1,0,0
3,1984-10-29,AAPL,45.183124,44.997296,48.332432,-5.484525e+09,129780480,0.003117,16.194824,29.881216,32.746222,-0.000641,0.000488,-0.001129,0.000000,-0.025925,-0.003162,0,0,0
4,1984-10-30,AAPL,48.093222,51.703624,46.691906,-5.570994e+09,216248865,0.003048,15.133939,31.950924,31.104445,-0.000608,0.000417,-0.001025,0.048060,-0.060959,0.035265,1,0,1

In [140]:
def window_column(df_series, window_size=30, stride_size=5):
    """
    Turns data series into array of windowed arrays
    INPUT: the input data series, window size, stride size
    OUTPUT: array of windowed arrays 
    
    EXAMPLE: y = window_column(train_set['RSI'], 30, 5)
    """
    np_array = df_series.to_numpy()
    nrows = ((np_array.size-window_size)//stride_size)+1
    n = np_array.strides[0]
    return np.lib.stride_tricks.as_strided(
        np_array, shape=(nrows, window_size), strides=(stride_size*n, n))

y = window_column(train_set['RSI'], 30, 5)

In [141]:
y[0]

array([57.97800667, 49.2476453 , 44.48389879, 45.18312437, 48.09322183,
       46.75665291, 48.30386636, 46.83808663, 45.35589207, 58.66884091,
       54.20341905, 45.97092954, 37.51473793, 43.71371141, 40.66673425,
       42.52432268, 42.52432268, 39.65975297, 32.89959579, 38.83490824,
       42.51207194, 47.0463878 , 48.65957779, 52.87317557, 59.91596901,
       56.46878408, 51.73749434, 49.73746898, 52.69922749, 59.1697874 ])

In [142]:
y[1]

array([46.75665291, 48.30386636, 46.83808663, 45.35589207, 58.66884091,
       54.20341905, 45.97092954, 37.51473793, 43.71371141, 40.66673425,
       42.52432268, 42.52432268, 39.65975297, 32.89959579, 38.83490824,
       42.51207194, 47.0463878 , 48.65957779, 52.87317557, 59.91596901,
       56.46878408, 51.73749434, 49.73746898, 52.69922749, 59.1697874 ,
       64.71649173, 64.10772421, 60.04022654, 57.77137702, 51.92969841])

In [143]:
y[2]

array([54.20341905, 45.97092954, 37.51473793, 43.71371141, 40.66673425,
       42.52432268, 42.52432268, 39.65975297, 32.89959579, 38.83490824,
       42.51207194, 47.0463878 , 48.65957779, 52.87317557, 59.91596901,
       56.46878408, 51.73749434, 49.73746898, 52.69922749, 59.1697874 ,
       64.71649173, 64.10772421, 60.04022654, 57.77137702, 51.92969841,
       53.33462402, 56.88592509, 60.13943292, 66.91140131, 59.3288684 ])

In [144]:
def window_dataframe(df, window=30, stride_size=5):
    """
    Turns the input dataframe into an array of windowed arrays
    INPUT: the input dataframe, window size, stride size
    OUTPUT: array of windowed arrays 
    
    EXAMPLE: windowed_array = window_dataframe(train_set)
    """
    if not np.issubdtype(df['date'].dtype, np.datetime64):
        df['date'] = pd.to_datetime(df['date'], format=('%Y-%m-%d'))
    inverse_df = df.sort_values(by="date", ascending=False)
    output_array = []
    for column in inverse_df:
        if column not in []: ## exclude columns from being windowed
            output_array.append(window_column(inverse_df[column], window, stride_size))
    
    return output_array

windowed_array = window_dataframe(train_set)

In [146]:
windowed_array

[array([['2017-12-29T00:00:00.000000000', '2017-12-28T00:00:00.000000000',
         '2017-12-27T00:00:00.000000000', ...,
         '2017-11-20T00:00:00.000000000', '2017-11-17T00:00:00.000000000',
         '2017-11-16T00:00:00.000000000'],
        ['2017-12-21T00:00:00.000000000', '2017-12-20T00:00:00.000000000',
         '2017-12-19T00:00:00.000000000', ...,
         '2017-11-13T00:00:00.000000000', '2017-11-10T00:00:00.000000000',
         '2017-11-09T00:00:00.000000000'],
        ['2017-12-14T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
         '2017-12-12T00:00:00.000000000', ...,
         '2017-11-06T00:00:00.000000000', '2017-11-03T00:00:00.000000000',
         '2017-11-02T00:00:00.000000000'],
        ...,
        ['1984-12-26T00:00:00.000000000', '1984-12-24T00:00:00.000000000',
         '1984-12-21T00:00:00.000000000', ...,
         '1984-11-15T00:00:00.000000000', '1984-11-14T00:00:00.000000000',
         '1984-11-13T00:00:00.000000000'],
        ['1984-12-18T00:00:00.000000000', '1984-12-17T00:00:00.000000000',
         '1984-12-14T00:00:00.000000000', ...,
         '1984-11-08T00:00:00.000000000', '1984-11-07T00:00:00.000000000',
         '1984-11-06T00:00:00.000000000'],
        ['1984-12-11T00:00:00.000000000', '1984-12-10T00:00:00.000000000',
         '1984-12-07T00:00:00.000000000', ...,
         '1984-11-01T00:00:00.000000000', '1984-10-31T00:00:00.000000000',
         '1984-10-30T00:00:00.000000000']], dtype='datetime64[ns]'),
 array([['AAPL', 'AAPL', 'AAPL', ..., 'AAPL', 'AAPL', 'AAPL'],
        ['AAPL', 'AAPL', 'AAPL', ..., 'AAPL', 'AAPL', 'AAPL'],
        ['AAPL', 'AAPL', 'AAPL', ..., 'AAPL', 'AAPL', 'AAPL'],
        ...,
        ['AAPL', 'AAPL', 'AAPL', ..., 'AAPL', 'AAPL', 'AAPL'],
        ['AAPL', 'AAPL', 'AAPL', ..., 'AAPL', 'AAPL', 'AAPL'],
        ['AAPL', 'AAPL', 'AAPL', ..., 'AAPL', 'AAPL', 'AAPL']],
       dtype=object),
 array([[43.26624827, 48.30920533, 46.76946646, ..., 57.92746764,
         58.4282959 , 61.08562979],
        [60.54591065, 59.0130329 , 59.56403124, ..., 72.48687504,
         74.96595785, 77.08561095],
        [56.604172  , 56.78652927, 55.34801078, ..., 76.42601809,
         74.66660376, 69.42409085],
        ...,
        [59.00132556, 58.61171726, 56.21631942, ..., 42.52432268,
         42.52432268, 40.66673425],
        [66.91140131, 60.13943292, 56.88592509, ..., 45.97092954,
         54.20341905, 58.66884091],
        [57.77137702, 60.04022654, 64.10772421, ..., 48.30386636,
         46.75665291, 48.09322183]]),
 array([[ 5.29440871, 27.5111331 , 21.57347848, ..., 48.34537847,
         49.98098136, 63.95736176],
        [79.72920696, 73.69439072, 75.2417795 , ..., 92.18377088,
         95.44550517, 98.26968974],
        [66.89124158, 64.32828978, 57.90921596, ..., 96.34426572,
         90.7475623 , 87.75510204],
        ...,
        [65.01623377, 62.58116883, 56.22462788, ..., 21.4064915 ,
         21.4064915 , 14.2194745 ],
        [98.19603127, 65.97402597, 50.06493506, ...,  7.93237971,
         42.94990724, 60.01855288],
        [62.15551181, 70.87466186, 82.68537074, ..., 32.60377358,
         48.35045971, 51.70362358]]),
 array([[18.1263401 , 29.16617936, 46.57220398, ..., 54.09457386,
         58.82963408, 68.16345275],
        [76.22179239, 80.64474533, 85.94174506, ..., 95.29965526,
         97.90506497, 98.89061595],
        [63.04291577, 63.65581538, 53.01849305, ..., 91.61564335,
         85.98490638, 87.73724102],
        ...,
        [61.27401016, 62.45220283, 65.68481783, ..., 19.01081917,
         21.72268783, 16.8520848 ],
        [71.4116641 , 52.05231838, 44.04003398, ..., 36.96694661,
         36.20902907, 31.20056942],
        [71.90518147, 83.56189002, 89.83621886, ..., 44.21928562,
         48.35045971, 46.69190553]]),
 array([[ 6.52306887e+10,  6.53372252e+10,  6.53434443e+10, ...,
          6.50081920e+10,  6.50206238e+10,  6.50599229e+10],
        [ 6.52826751e+10,  6.52878827e+10,  6.52871356e+10, ...,
          6.51786153e+10,  6.51742773e+10,  6.52057313e+10],
        [ 6.51503419e+10,  6.51704610e+10,  6.52330720e+10, ...,
          6.49520019e+10,  6.48719429e+10,  6.49036936e+10],
        ...,
        [-1.18096428e+10, -1.17317693e+10, -1.16534803e+10, ...,
         -7.23034763e+09, -7.10677320e+09, -6.98582139e+09],
        [-1.10934795e+10, -1.06986852e+10, -1.05535066e+10, ...,
         -6.45534115e+09, -6.35318903e+09, -6.08477355e+09],
        [-1.03996828e+10, -1.02561921e+10, -1.01269569e+10, ...,
         -5.69534711e+09, -5.64081752e+09, -5.57099364e+09]]),
 array([[254000373812, 254108221613, 254039811878, ..., 254037025203,
         254103705159, 254194679228],
        [254020375311, 253933705203, 254031207310, ..., 254319739350,
         254390231455, 254494689991],
        [253856113021, 253941086808, 253843806911, ..., 254414288195,
         254269216136, 254021429564],
        ...,
        [   382096612,    304223110,    225934164, ...,   -174650683,
           -298225122,   -419176924],
        [   899712374,    504918066,    359739455, ...,    -62657102,
             39495018,    307910502],
        [   298406677,    441897421,    571132569, ...,    200954576,
            146424986,    216248865]], dtype=int64),
 array([[0.56835395, 0.57738118, 0.5964105 , ..., 0.59481531, 0.62241649,
         0.63806392],
        [0.5989046 , 0.60912803, 0.61583019, ..., 0.62654956, 0.65151491,
         0.68093914],
        [0.61888804, 0.63887943, 0.65348554, ..., 0.72384114, 0.71944431,
         0.66124771],
        ...,
        [0.00334594, 0.00348486, 0.00358677, ..., 0.00314443, 0.00331631,
         0.00342987],
        [0.00364661, 0.00342943, 0.003434  , ..., 0.00304813, 0.00297337,
         0.00301286],
        [0.0034965 , 0.00355239, 0.00366103, ..., 0.00283856, 0.00293922,
         0.00304762]]),
 array([[14.45824896, 14.5391204 , 15.14210746, ..., 25.47799101,
         26.66669305, 27.90989601],
        [15.36918618, 15.34739403, 15.56936832, ..., 31.21050416,
         30.62980486, 29.50001694],
        [15.24579116, 16.27063037, 17.20426232, ..., 24.35688357,
         22.28724852, 20.17576387],
        ...,
        [16.40406139, 16.78965769, 17.48614985, ..., 17.61596998,
         16.41444802, 15.12050129],
        [18.65734257, 17.56573056, 17.37378662, ..., 11.44935644,
         11.58733351, 12.02321703],
        [19.11301343, 18.98852898, 18.49868194, ..., 13.20064833,
         14.13149211, 15.13393927]]),
 array([[22.78497758, 24.15402715, 21.90606963, ..., 30.40531615,
         31.29213942, 32.87281135],
        [27.24621281, 27.03111785, 28.79362214, ..., 36.45812167,
         37.75809224, 38.90548123],
        [22.99707731, 23.99111954, 21.92786544, ..., 42.29331771,
         43.98597893, 35.4384205 ],
        ...,
        [37.19710914, 35.72483267, 36.73608225, ..., 19.32587836,
         19.73296596, 20.54553027],
        [45.12667349, 39.22912659, 36.68107549, ..., 28.84950991,
         31.83989853, 33.83263264],
        [41.0887902 , 43.55200623, 45.50917102, ..., 29.5896279 ,
         30.76870029, 31.9509241 ]]),
 array([[29.84042313, 27.62325442, 28.79896426, ..., 24.86458361,
         25.34262632, 24.79030167],
        [19.87117165, 21.04055648, 19.95174115, ..., 16.09049185,
         14.2084083 , 14.64017193],
        [22.12934962, 22.08653867, 23.25387141, ..., 13.62724234,
         14.76518003, 17.30041122],
        ...,
        [29.58926642, 30.5948342 , 32.01171884, ..., 38.56702074,
         39.37941104, 41.00097689],
        [22.81047576, 26.11953121, 28.09045295, ..., 35.01615824,
         28.28027464, 25.3689914 ],
        [26.97771177, 25.93301003, 23.86450542, ..., 30.24764591,
         31.45293865, 31.10444504]]),
 array([[ 1.04345424e-01,  1.79975722e-01,  2.28173291e-01, ...,
          7.89929179e-01,  8.63498133e-01,  9.40460715e-01],
        [ 3.80580742e-01,  3.69611965e-01,  3.66119280e-01, ...,
          1.18710399e+00,  1.19790216e+00,  1.17756233e+00],
        [ 2.49815089e-01,  2.47456108e-01,  2.39522193e-01, ...,
          9.15936099e-01,  7.81221250e-01,  6.41083806e-01],
        ...,
        [ 2.84100666e-03,  2.82908864e-03,  2.80327199e-03, ...,
         -1.51125089e-03, -1.40469901e-03, -1.24826808e-03],
        [ 2.76563416e-03,  2.11783491e-03,  1.88842082e-03, ...,
         -1.73009923e-04, -6.79971384e-06, -2.03865233e-04],
        [ 2.18911255e-03,  2.11472285e-03,  1.86377858e-03, ...,
         -5.81444202e-04, -6.24952986e-04, -6.08268519e-04]]),
 array([[-1.50187022e-01, -1.12103480e-01, -9.19317804e-02, ...,
         -1.31258480e-01, -9.05041458e-02, -3.61675996e-02],
        [ 3.40245095e-02,  3.15618603e-02,  3.59596402e-02, ...,
          2.38512468e-01,  3.08938751e-01,  3.65833613e-01],
        [-7.12504671e-02, -9.14220643e-02, -1.22211495e-01, ...,
          3.95871969e-01,  3.60125113e-01,  3.10018947e-01],
        ...,
        [ 3.37236093e-04,  4.09627095e-04,  4.86217214e-04, ...,
         -5.16538999e-04, -5.39121873e-04, -5.17471416e-04],
        [ 9.71788102e-04,  5.66935882e-04,  4.79255763e-04, ...,
          2.88498962e-04,  5.26833912e-04,  4.61476871e-04],
        [ 1.23030452e-03,  1.46349095e-03,  1.57841942e-03, ...,
          2.90941122e-04,  3.20167618e-04,  4.16893990e-04]]),
 array([[ 2.54532446e-01,  2.92079202e-01,  3.20105072e-01, ...,
          9.21187658e-01,  9.54002278e-01,  9.76628315e-01],
        [ 3.46556232e-01,  3.38050105e-01,  3.30159640e-01, ...,
          9.48591526e-01,  8.88963410e-01,  8.11728722e-01],
        [ 3.21065556e-01,  3.38878172e-01,  3.61733688e-01, ...,
          5.20064130e-01,  4.21096138e-01,  3.31064859e-01],
        ...,
        [ 2.50377057e-03,  2.41946155e-03,  2.31705477e-03, ...,
         -9.94711887e-04, -8.65577137e-04, -7.30796669e-04],
        [ 1.79384606e-03,  1.55089903e-03,  1.40916506e-03, ...,
         -4.61508885e-04, -5.33633626e-04, -6.65342104e-04],
        [ 9.58808031e-04,  6.51231901e-04,  2.85359163e-04, ...,
         -8.72385324e-04, -9.45120605e-04, -1.02516251e-03]]),
 array([[ 0.0305561 ,  0.02278856,  0.0143515 , ...,  0.01831699,
          0.02311037,  0.02246945],
        [-0.03301506, -0.01871454, -0.0225075 , ..., -0.02305524,
         -0.02584484, -0.02359945],
        [ 0.0161956 ,  0.01211273,  0.01651172, ...,  0.00198693,
          0.01622772,  0.04620347],
        ...,
        [ 0.02906209,  0.01457229,  0.07724908, ...,  0.        ,
         -0.02697368, -0.037554  ],
        [-0.03645786,  0.01791562,  0.02416889, ..., -0.03888713,
         -0.07794965, -0.10401985],
        [ 0.08503502,  0.01189084, -0.03217491, ..., -0.0128992 ,
          0.03559837,  0.04805992]]),
 array([[ 0.04119179,  0.03493598,  0.02748471, ..., -0.0018586 ,
         -0.00200322, -0.00031579],
        [-0.00346777,  0.00364755, -0.00847902, ..., -0.00516055,
         -0.00333175, -0.00166026],
        [-0.01735416, -0.00682849, -0.00636742, ..., -0.02111412,
         -0.01003652,  0.02151365],
        ...,
        [ 0.08728062,  0.04362226,  0.03563861, ...,  0.04046053,
          0.07072368,  0.10247037],
        [-0.00845531,  0.03274899,  0.103285  , ..., -0.03888713,
         -0.10282075, -0.13766749],
        [ 0.04547697,  0.03001949, -0.00878365, ..., -0.05128472,
         -0.04512616, -0.06095912]]),
 array([[-0.01333759, -0.01829402,  0.00536049, ...,  0.02677851,
          0.03691308,  0.01673671],
        [ 0.0116384 ,  0.01516235,  0.02262659, ..., -0.01318807,
         -0.01142313, -0.03353731],
        [ 0.02312278,  0.02786893,  0.02094228, ..., -0.02293347,
         -0.01201964,  0.02119107],
        ...,
        [ 0.05236837,  0.0756056 ,  0.11288769, ...,  0.11151316,
          0.08453947,  0.08529966],
        [-0.01963815,  0.11905221,  0.13672684, ...,  0.10380441,
          0.06217774, -0.00615385],
        [ 0.13672684,  0.07495127,  0.02654191, ..., -0.0128992 ,
          0.02240603,  0.03526475]]),
 array([[1, 1, 1, ..., 1, 1, 1],
        [0, 0, 0, ..., 0, 0, 0],
        [1, 1, 1, ..., 1, 1, 1],
        ...,
        [1, 1, 1, ..., 0, 0, 0],
        [0, 1, 1, ..., 0, 0, 0],
        [1, 1, 0, ..., 0, 1, 1]]),
 array([[1, 1, 1, ..., 0, 0, 0],
        [0, 1, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 1],
        ...,
        [1, 1, 1, ..., 1, 1, 1],
        [0, 1, 1, ..., 0, 0, 0],
        [1, 1, 0, ..., 0, 0, 0]]),
 array([[0, 0, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 0, 0, 0],
        [1, 1, 1, ..., 0, 0, 1],
        ...,
        [1, 1, 1, ..., 1, 1, 1],
        [0, 1, 1, ..., 1, 1, 0],
        [1, 1, 1, ..., 0, 1, 1]])]

In [147]:
windowed_array[0]

array([['2017-12-29T00:00:00.000000000', '2017-12-28T00:00:00.000000000',
        '2017-12-27T00:00:00.000000000', ...,
        '2017-11-20T00:00:00.000000000', '2017-11-17T00:00:00.000000000',
        '2017-11-16T00:00:00.000000000'],
       ['2017-12-21T00:00:00.000000000', '2017-12-20T00:00:00.000000000',
        '2017-12-19T00:00:00.000000000', ...,
        '2017-11-13T00:00:00.000000000', '2017-11-10T00:00:00.000000000',
        '2017-11-09T00:00:00.000000000'],
       ['2017-12-14T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
        '2017-12-12T00:00:00.000000000', ...,
        '2017-11-06T00:00:00.000000000', '2017-11-03T00:00:00.000000000',
        '2017-11-02T00:00:00.000000000'],
       ...,
       ['1984-12-26T00:00:00.000000000', '1984-12-24T00:00:00.000000000',
        '1984-12-21T00:00:00.000000000', ...,
        '1984-11-15T00:00:00.000000000', '1984-11-14T00:00:00.000000000',
        '1984-11-13T00:00:00.000000000'],
       ['1984-12-18T00:00:00.000000000', '1984-12-17T00:00:00.000000000',
        '1984-12-14T00:00:00.000000000', ...,
        '1984-11-08T00:00:00.000000000', '1984-11-07T00:00:00.000000000',
        '1984-11-06T00:00:00.000000000'],
       ['1984-12-11T00:00:00.000000000', '1984-12-10T00:00:00.000000000',
        '1984-12-07T00:00:00.000000000', ...,
        '1984-11-01T00:00:00.000000000', '1984-10-31T00:00:00.000000000',
        '1984-10-30T00:00:00.000000000']], dtype='datetime64[ns]')

In [138]:
windowed_array[0][0]

array(['2017-12-29T00:00:00.000000000', '2017-12-28T00:00:00.000000000',
       '2017-12-27T00:00:00.000000000', '2017-12-26T00:00:00.000000000',
       '2017-12-22T00:00:00.000000000', '2017-12-21T00:00:00.000000000',
       '2017-12-20T00:00:00.000000000', '2017-12-19T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2017-12-14T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2017-12-12T00:00:00.000000000', '2017-12-11T00:00:00.000000000',
       '2017-12-08T00:00:00.000000000', '2017-12-07T00:00:00.000000000',
       '2017-12-06T00:00:00.000000000', '2017-12-05T00:00:00.000000000',
       '2017-12-04T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2017-11-30T00:00:00.000000000', '2017-11-29T00:00:00.000000000',
       '2017-11-28T00:00:00.000000000', '2017-11-27T00:00:00.000000000',
       '2017-11-24T00:00:00.000000000', '2017-11-22T00:00:00.000000000',
       '2017-11-21T00:00:00.000000000', '2017-11-20T00:00:00.000000000',
       '2017-11-17T00:00:00.000000000', '2017-11-16T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [137]:
windowed_array[0][len(windowed_array[0])-1]

array(['1984-12-11T00:00:00.000000000', '1984-12-10T00:00:00.000000000',
       '1984-12-07T00:00:00.000000000', '1984-12-06T00:00:00.000000000',
       '1984-12-05T00:00:00.000000000', '1984-12-04T00:00:00.000000000',
       '1984-12-03T00:00:00.000000000', '1984-11-30T00:00:00.000000000',
       '1984-11-29T00:00:00.000000000', '1984-11-28T00:00:00.000000000',
       '1984-11-27T00:00:00.000000000', '1984-11-26T00:00:00.000000000',
       '1984-11-23T00:00:00.000000000', '1984-11-21T00:00:00.000000000',
       '1984-11-20T00:00:00.000000000', '1984-11-19T00:00:00.000000000',
       '1984-11-16T00:00:00.000000000', '1984-11-15T00:00:00.000000000',
       '1984-11-14T00:00:00.000000000', '1984-11-13T00:00:00.000000000',
       '1984-11-12T00:00:00.000000000', '1984-11-09T00:00:00.000000000',
       '1984-11-08T00:00:00.000000000', '1984-11-07T00:00:00.000000000',
       '1984-11-06T00:00:00.000000000', '1984-11-05T00:00:00.000000000',
       '1984-11-02T00:00:00.000000000', '1984-11-01T00:00:00.000000000',
       '1984-10-31T00:00:00.000000000', '1984-10-30T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [113]:
len(windowed_array[0])

1667

In [122]:
len(windowed_array[0][len(windowed_array[0])-1])

30

In [112]:
windowed_array[0]

array([['1984-10-24T00:00:00.000000000', '1984-10-25T00:00:00.000000000',
        '1984-10-26T00:00:00.000000000', ...,
        '1984-12-03T00:00:00.000000000', '1984-12-04T00:00:00.000000000',
        '1984-12-05T00:00:00.000000000'],
       ['1984-10-31T00:00:00.000000000', '1984-11-01T00:00:00.000000000',
        '1984-11-02T00:00:00.000000000', ...,
        '1984-12-10T00:00:00.000000000', '1984-12-11T00:00:00.000000000',
        '1984-12-12T00:00:00.000000000'],
       ['1984-11-07T00:00:00.000000000', '1984-11-08T00:00:00.000000000',
        '1984-11-09T00:00:00.000000000', ...,
        '1984-12-17T00:00:00.000000000', '1984-12-18T00:00:00.000000000',
        '1984-12-19T00:00:00.000000000'],
       ...,
       ['2017-10-27T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
        '2017-10-31T00:00:00.000000000', ...,
        '2017-12-06T00:00:00.000000000', '2017-12-07T00:00:00.000000000',
        '2017-12-08T00:00:00.000000000'],
       ['2017-11-03T00:00:00.000000000', '2017-11-06T00:00:00.000000000',
        '2017-11-07T00:00:00.000000000', ...,
        '2017-12-13T00:00:00.000000000', '2017-12-14T00:00:00.000000000',
        '2017-12-15T00:00:00.000000000'],
       ['2017-11-10T00:00:00.000000000', '2017-11-13T00:00:00.000000000',
        '2017-11-14T00:00:00.000000000', ...,
        '2017-12-20T00:00:00.000000000', '2017-12-21T00:00:00.000000000',
        '2017-12-22T00:00:00.000000000']], dtype='datetime64[ns]')

In [64]:
def my_function(input_array):
    return input_array.mean()

def apply_rolling_data(data, col, function, window, step=1, labels=None):
    """Perform a rolling window analysis at the column `col` from `data`

    Given a dataframe `data` with time series, call `function` at
    sections of length `window` at the data of column `col`. Append
    the results to `data` at a new columns with name `label`.

    Parameters
    ----------
    data : DataFrame
        Data to be analyzed, the dataframe must stores time series
        columnwise, i.e., each column represent a time series and each
        row a time index
    col : str
        Name of the column from `data` to be analyzed
    function : callable
        Function to be called to calculate the rolling window
        analysis, the function must receive as input an array or
        pandas series. Its output must be either a number or a pandas
        series
    window : int
        length of the window to perform the analysis
    step : int
        step to take between two consecutive windows
    labels : str
        Name of the column for the output, if None it defaults to
        'MEASURE'. It is only used if `function` outputs a number, if
        it outputs a Series then each index of the series is going to
        be used as the names of their respective columns in the output

    Returns
    -------
    data : DataFrame
        Input dataframe with added columns with the result of the
        analysis performed

    """

    x = _strided_app(data[col].to_numpy(), window, step)
    rolled = np.apply_along_axis(function, 1, x)

    if labels is None:
        labels = [f"metric_{i}" for i in range(rolled.shape[1])]

    for col in labels:
        data[col] = np.nan

    data.loc[
        data.index[
            [False]*(window-1)
            + list(np.arange(len(data) - (window-1)) % step == 0)],
        labels] = rolled

    return data


def _strided_app(a, L, S):  # Window len = L, Stride len/stepsize = S
    """returns an array that is strided
    """
    nrows = ((a.size-L)//S)+1
    n = a.strides[0]
    return np.lib.stride_tricks.as_strided(
        a, shape=(nrows, L), strides=(S*n, n))