In [2]:
import pandas as pd
import glob

In [4]:
!ls ../raw_data/data

daily

In [9]:
list_of_files1 = glob.glob("../raw_data/data/daily/us/nasdaq stocks/1/*.txt")
list_of_files2 = glob.glob("../raw_data/data/daily/us/nasdaq stocks/2/*.txt")
full_list = list_of_files1 + list_of_files2

In [10]:
len(full_list)

3927

In [11]:
# Column names cleaning
def to_date(df, date_column):
    """
    Convert int of dated_col to to datetime object, return converted column
    """
    dated_col = pd.to_datetime(df[date_column], format=('%Y%m%d'))                #Use directly the right column as arg?
    return dated_col


def proper_name(col):
    """
    Transform column name into lowercase with no '<>', return column name
    """
    col = col.replace('>', '')
    col = col.replace('<', '')
    col = col.lower()
    return col

# Ticker name cleaning
def proper_col(df):
    """
    Remove '.US' from ticker col, returns cleaned df
    """
    clean_df = df.copy()
    clean_df['ticker'] = clean_df['ticker'].str.rstrip('.US')
    return clean_df

# Target variable calculations
def calculate_real_returns(df):
    """
       Calculate Real Returns for 5, 10 & 20 Trading Days
       INPUT: Assumes the headers have been changed. Example: '<CLOSE>' is 'close'
    """
    returns_df = df.copy()
    ## 5 Trading Day Real Returns
    returns_df['5TD_return'] = (df['close'].shift(-5)/df['close'])-1
    ## 10 Trading Day Real Returns
    returns_df['10TD_return'] = (df['close'].shift(-10)/df['close'])-1
    ## 20 Trading Day Real
    returns_df['20TD_return'] = (df['close'].shift(-20)/df['close'])-1
    return returns_df

In [12]:
full_list[0]

'../raw_data/data/daily/us/nasdaq stocks/1\\aacg.us.txt'

In [14]:
one_company = pd.read_csv(full_list[0])
one_company.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>
0,AACG.US,D,20080128,0,0.7380,0.7380,0.7380,0.7380,0,0
1,AACG.US,D,20080129,0,0.7380,0.7760,0.6657,0.6797,19169939,0
2,AACG.US,D,20080130,0,0.6797,0.7108,0.6448,0.6603,2818723,0
3,AACG.US,D,20080131,0,0.6595,0.8001,0.6595,0.7418,2345961,0
4,AACG.US,D,20080201,0,0.7714,0.7721,0.7380,0.7387,361853,0

In [18]:
for column in one_company.columns:
    one_company.column.name = proper_name(column)

one_company

AttributeError: 'str' object has no attribute 'name'